{% extends "basic.html" %}
{% load static %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} Главная старница {% endblock %}
</head>
<body>
{% block content %}
<div class="center">
    <h1 class="text_center">Каталог заявок</h1>
        <p class="text_bot">Заявки, которые мы выполнили</p>
        <p class="text_bot">Количество заявок,в статусе "Принято в работу" : {{counter}}</p>
            <div class="applications">
            {% for item in orders %}
                <div class="block">
                    <div class="text_row">
                        <p class="text_block">категория: <p class="text_bot_block"> {{item.category}}</p></p>
                    </div>

                    <div class="text_row">
                        <p class="text_block">Заявка: <p class="text_bot_block">{{ item.name }}</p></p>
                    </div>

                    <div class="text_row">
                        <p class="text_block">дата:  <p class="text_bot_block">{{ item.date }}</p></p>
                    </div>

                    <div class="text_row">
                        <p class="text_block">Статус заявки:  <p class="text_bot_block">{{item.status_verbose}}</p></p>
                    </div>

                    <img style="width: 5px; height: 5px; " src="media/{{ item.photo_file }}">
                </div>
            {% endfor %}
            </div>
</div>
{% endblock %}



{% block footer %}
    <div class="footer">
		<div class="footer_blocks">
			<div class="about">
				<p class="text_top_about">О нас</p>
				<p class="text_bot_about"> Мы весёлые и интересные люди, ответим на любые ваши вопросы</p>
			</div>
		</div>
	</div>
    {% endblock %}

</body>
</html>