{% extends 'basic.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="main">
    <h1 >Удаление записи {{ order.name }}</h1>
    <div class="container-fluid mt-3">
        <div class="row">
            {% if order.image %}
            <div class="col-md-auto"><img src="{{ bb.image.url }}" class="main-image"></div>
            {% endif %}
            <div class="col">
                <h2>{{ order.title }}</h2>
                <p>{{ order.content }}</p>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% buttons submit='Удалить' %}{% endbuttons %}
    </form>
    </div>
{% endblock %}